/* Estilos para animaciones */
.animated {
    opacity: 0;
    transition: opacity 0.8s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

header {
    background-color: #004080;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

header #logo {
    position: absolute; /* Cambiar a 'fixed' para mantenerlo fijo en la ventana */
    top: 5px;
    left: 10px;
    width: 150px; /* Ancho deseado del logo */
    height: auto; /* Altura automática para mantener la proporción */
    z-index: 1000; /* Asegura que el logo esté en la capa superior */
}


.servicios{
    text-align: center;
}

#servicios_prestados li {
    text-align: center;
}

header #language {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

header #language select {
    background-color: #6d6d6d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

header #language select option {
    background-color: #fff;
    color: #000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

section {
    padding: 50px 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

li {
    margin-bottom: 20px; /* Espacio entre los elementos li */
}

#introduccion {
    text-align: justify;
    margin-left: 30%;
    margin-right: 30%;
}

#nuestros_trabajos {
    text-align: center;
}

#banner {
    padding: 20px;
    text-align: center;
}

.slideshow-container {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: center; /* Centra los botones horizontalmente */
    }

.mySlides img {
    width: auto;
    margin: auto; /* Centra la imagen horizontalmente */
    display: block;
    height: auto;
    max-height: 400px;
}

.mySlides {
    display: none;
    padding: 20px;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 1s, transform 1s;
}

.active {
    display: block;
    opacity: 1;
    transform: scale(1);
}

footer {
    background-color: #004080;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

footer p {
    margin: 0;
    text-align: right;
}

a {
    text-decoration: none;
    color: black;
}

.active {
    display: block !important;
}

/* Estilos para los botones de navegación */
.prev, .next {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 20px 7em;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 50%; /* Hace los botones circulares */
    user-select: none;
    display: inline-block;
    text-align: center
}

.prev:hover, .next:hover {
    background-color: #004080;
    color: #fff;
}

#direccion {
    margin-bottom: 0px;
}

.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%; /* Aspect ratio 4:3 */
    height: 0;
    overflow: hidden;
    margin-bottom: 3em;
}
.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 768px) {
    .map-container {
        padding-bottom: 20%; /* Aspect ratio for smaller screens */
    }
}

@media (min-width: 1024px) {
    .map-container {
        padding-bottom: 30%; /* Aún más pequeño en pantallas más grandes */
        margin-left: auto;
        margin-right: auto;
        max-width: 30%; /* Ancho máximo del contenedor en pantallas grandes */
    }
}

@media (max-width: 450px) {

    header #logo {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 80px;
        height: auto;
        z-index: 1000;
    }

    #introduccion {
        margin: 0px; /* Ajuste de margen para pantallas pequeñas */
    }

    #servicios_prestados li {
        text-align: center;
    }

    .mySlides img {
        height: auto;
        width: 90%;
        max-height: 200px;
    }

    .prev, .next {
        width: 45px;
        height: 50px;
        line-height: 30px;
        font-size: 14px;
        text-align: center;
        margin: 10px 4em;
    }

    footer p {
        margin: 0;
        text-align: center;
    }
}

@media (max-width: 350px) {

    header #logo {
        position: absolute;
        top: 1px;
        left: 1px;
        width: 50px;
        height: auto;
        z-index: 1000;
    }
}